<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cc.brainbook.armslaunch.launch">

    <application>

        <!-- ///[强行定义为竖屏（取消重力感应切屏）] android:screenOrientation="portrait" -->
        <!-- ///[横竖屏幕切换时不调用onCreate()] android:configChanges="orientation|keyboardHidden|screenSize" -->
        <!-- ///?????[离开activity时把该activity从回退栈中清除] android:noHistory="true" -->
        <!-- ///?????[launchMode为singleTask] android:launchMode="singleTask" -->
        <activity
            android:name="cc.brainbook.armslaunch.launch.LaunchActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/LaunchTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="cc.brainbook.armslaunch.launch.GuideActivity" />
        <activity android:name="cc.brainbook.armslaunch.launch.TestMainActivity"></activity>
    </application>

</manifest>