<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cc.brainbook.armssplash.splash">

    <application>

        <!-- ///[ArmsSplash#强行定义为竖屏（取消重力感应切屏）] android:screenOrientation="portrait" -->
        <!-- ///[ArmsSplash#横竖屏幕切换时不调用onCreate()] android:configChanges="orientation|keyboardHidden|screenSize" -->
        <!-- ///?????[ArmsSplash#离开activity时把该activity从回退栈中清除] android:noHistory="true" -->
        <!-- ///?????[ArmsSplash#launchMode为singleTask] android:launchMode="singleTask" -->
        <activity
            android:name=".SplashActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".GuideActivity" />
        <activity android:name=".TestMainActivity"></activity>
    </application>

</manifest>